# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.ipynb
*.DS_Store
.vscode/
.ipynb_checkpoints/
docker/*
*.pickle
results/
docs/
tmp/
*-checkpoint.py
wandb/
outputs/
models/

# virtualenv, installation, and slurm jobs
.venv/
slurm/
tests/slurm/
requirements.txt
requirements.in