# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.DS_Store
.vscode/
.ipynb_checkpoints/
docker/*
*.pickle
results/
docs/
tmp/
*-checkpoint.py
*.sh
slurm/
.venv/

# requirements
requirements.txt
requirements.in

# excluded saved_models/ folder since pop training is large
saved_models/
outputs/
wandb/

# example notebooks
example_download_wandb.ipynb
params_content.ipynb