# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.DS_Store
.vscode/
.ipynb_checkpoints/
docker/*
*.pickle
results/
docs/
tmp/
*-checkpoint.py
wandb/
outputs/
models/
*.sh
slurm/
.venv/
requirements.txt
requirements.in

# excluded saved_models/ folder since pop training is large
saved_models/